<!DOCTYPE html>
<html lang="en">
    <head>
        <title>George Otieno</title>
    </head>
    <body>
        <div class="container">
        	{% block main %}{% endblock %}
        </div>
    </body>
</html>
